.grid_system {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.dashboard_col {
    border: 2px solid cadetblue;
    background-color: antiquewhite;
}

.button_row {
    border-top: 2px solid cadetblue;
}

.button_col {
    padding: 5px;
    background-color:burlywood;
}

.switch_button {
    margin: 10px;
    width: 150px;
}
